<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script type="text/javascript" src="https://unpkg.com/album-art"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
    </head>

    <body>
        <div class="row">
            <div class="nav">
                
                <ul>
                  <li><a >  {{ user }}</a></li>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    <li><a href="{% url 'create_bet' %}">Create Bet</a></li>
                    <li><a href="{% url 'create_event' %}">Create Event</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="content">
                {% block content %}
                
                {% endblock content %}
            </div>
        </div>
    </body>
</html>

<style>
    .nav{
        float: left;
        width: 15%;
        padding: 10px;
    }
    .content{
        float: left;
        width: 85%;
        padding: 10px;
    }
    nav.ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

</style>