{% extends 'WannaBet/base.html' %}

{% load static %}

{% block content %}
<div class="container">
    {% for b in bets %}

        <div class="card" style="width: 50rem;">
            
            <div class="card-body">
              <h5 class="card-title"> {{ b.name }}</h5>
              <p class="card-text">{{ b.side }} ,  {{ b.event.name }}
                  <br>
                {{ b.identifier}}

              </p>

              <a href="#" class="btn btn-primary">{{ b.identifier }}</a>
            </div>
        </div>
        <br>
    {% endfor %}
</div>
{% endblock %}

<style>
 .container{
        background-color: #1f1f1f;
    }
</style>


<script>

<\script>