{% load static %}

<html>
    <head>
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script type="text/javascript" src="https://unpkg.com/album-art"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
    </head>

    <body>
        {% block content %}
            {% if alert %}
                <div class="alert alert-{{ alert }}" role="alert">
                    <center>{{ alert_msg }}</center>
                </div>
            {% endif %}
            <div class="container">
                <br style="line-height: 250px;">
                <div class="row flex-vert-center flex-grow justify-content-center" >
                    <!-- <div class="col-12 col-xl-4 col-lg-12">   -->
                        <div class="card" style="width: 1000px;">
                            <div class="card-body">
        
                                <div class="row justify-content-center">  
                                    <form action="{% url 'register' %}"  method="POST">
                                        {% csrf_token %} 
                                        <h4 class="card-title text-center" style="padding-top: 20px; padding-bottom: 20px;">Register your student account</h4>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Username</label>
                                            <input type="username" name="username" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Name" >
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email address</label>
                                            <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Password</label>
                                            <input name="password" type="password" class="form-control" id="exampleInputPassword1" >
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Password</label>
                                            <input name="verify" type="password" class="form-control" id="exampleInputPassword2" >
                                        </div> 
                                    <center><input type="submit" name="" value="Register"></center>
                                    </form>
                                </div>
                                <br>
                            </div>
        
                    </div>
        
        
                </div>
            </div>
               
        {% endblock content %}
    </body>
</html>
<style>
</style>