<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div class="form-group">
        <form action="POST">
        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Choose Event</label>
        <select class="custom-select my-1 mr-sm-2"  name="event_name" id="inlineFormCustomSelectPref">
          <option selected>Choose...</option>

          <option value="1">troll</option>
          <option value="2">doll</option>
          
        </select>
        <label for="exampleInputEmail1">betName</label>
        <input type="username" name="bet_name" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Name" >
      
        <input type="submit" name="" value="Register">
        </form>

    </div>
</body>
</html>